---
---

/* "Simpliste" template. Renat Rafikov. http: //cssr.ru/simpliste/ */

@import url('reset.css');

body { 
  margin: 0; 
  font-size: 15px; 
  line-height: 1.5; 
  color: #333; 
}

header {
  margin: 0;
  padding: 0;
  XXbackground-image: url('{{ site.baseurl }}/img/header.png');
  XXbackground-repeat: repeat-x;
  XXheight: 148px;
}

header .logo {
  float: right;
  margin: 20px;
}

header h1 {
  display: inline;
  top: 20px;
  position: relative;
  color: black;
}


nav {
  top: 50px;
  position: relative;
}

nav li {
  margin-right: 3px;
}


/* Columns 
-------
.col_33 | .col_33 | .col_33
.clearfix
-------
.col_75 | .col_25
.clearfix
-------
.col_66 | .col_33
.clearfix
-------
.col_50 | .col_50
.clearfix
-------
.col_100
-------
*/
.col_25 {
  width: 23%;
  margin: 0 2% 0 0;
  float: left;
}
.col_33 {
  width: 31%;
  margin: 0 2% 0 0;
  float: left;
  font-size: 0.85em;
  line-height: 180%;
}

.col_33 h2 {color: black; font-weight: normal; }

.col_50 {
  width: 48%;
  margin: 0 2% 0 0;
  float: left;
}
.col_66 {
  width: 60%;
  margin: 0 6% 0 0;
  float: left;
}

.col_75 {
  width: 73%;
  margin: 0 2% 0 0;
  float: left;
}
.col_100 {
  width: 98%;
  margin: 0 2% 0 0;
  float: left;
}

.col_25.wrap { width: 25%; margin: 0;}
.col_33.wrap { width: 33%; margin: 0;}
.col_50.wrap { width: 50%; margin: 0;}
.col_66.wrap { width: 66%; margin: 0;}
.col_75.wrap { width: 75%; margin: 0;}
.col_100.wrap { width: 100%; margin: 0;}
/* End columns */

body {
  background: #ffffff;
  XXfont-family: "Lucida Grande","Lucida Sans Unicode",'BalanceComcolgular';
}

a {color: #CE161D; text-decoration: none;}
a:hover { color: #000000; }
/*a: visited { color: #CE161D; }*/

.full-width-header {  background-position: center bottom; background-repeat: repeat-x;}
.full-width-footer { 

  margin: 60px 0;
}

table {width: 100%; }
table td {width: 20%; vertical-align: top;}
table td.desc {width: 80%; word-break: normal;}
table td.select1 {width: 30%; word-break: normal;}
table td.select2 {width: 70%; word-break: normal;}
table td.data {width: 20%; word-break: normal;}
table td.form {width: 80%; word-break: normal;}

tr {
/*  border-bottom: 1px dashed #d4dee5;*/
}

tr: last-child {
  border-bottom: none;
}

tr.parameter {
  border-bottom: none;
}

h1, h2 {
  color: #63AD00;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
}

h3, h4, h6 {
  font-weight: normal;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

h4 {color: #6f8993; padding-top: 5px;}

h5 {
  font-weight: normal;
  color: #4f6973;
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-top: 5px;
}

#box {
  background-color: #eef2f5;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Old Firefox */
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  padding: 20px;
  margin-top: 5%;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  padding: 0 2% 0 2%;
  background-color: #ffffff;
  background-image: url('{{ site.baseurl }}/img/bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 104px;
}

.header-subpage {
  display: block;
  padding: 0 2% 0 2%;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  align: center;
}

.logo {
  float: right;
  padding-right: 3em;
}

.info {
  margin: 2em 0;
  padding: 0 2% 1em 2%;
  background-color: #ffffff;
}

.code {
  display: block;
  background-color: #eef2f5;
  
  padding-left: 10px;
  padding-right: 10px;
/*  padding-bottom: 10px;
  margin-bottom: 20px;*/
  border-radius: 5px;
  -moz-border-radius: 5px; /* Old Firefox */
}

pre {
  line-height: 1.1em;
}

article pre {
  background-color: #f6f6f6;
  border: 1px solid #eee;
  line-height: 1.1em;
  padding: 8px;
}

article pre code {
  background-color: transparent;
}

.footer {
  padding: 2pxem 0% 3em 2%;
  color: #666;
  background-color: #ffffff;
}

.copyright {
/*  width: 49%;
*/  float: left;
  padding-left: 20px;
  
}

.col_33 ul {
  list-style-image: url({{ site.baseurl }}/img/bullet.png); 
}

.example li a:hover {color: #000000;}


nav ul, nav ol {
  display: inline;
}

nav li {
  display: inline-block;
  margin-bottom: 10px;
}

nav > ul > li > a {
  text-decoration: none;
  background-color: #ecf2f5;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #CE161D;
}

nav > ul > li > ul > li > a:hover {

  color: #ffffff;
}

code {
  color: #007b95; background-color: #cbf6ff; padding: 0.3em; font-style: normal;
}

/*.top {
  display: none;
}  */

table#about {
  table-layout: fixed
}

table#about tr td {
  vertical-align: middle;
  width: auto;
  padding: 10px 30px;
}

table#about tr td:last-child img {
  float: right;
}

table#about tr td.number {
  width: 35px;
  padding: 0;
  background-image: url('{{ site.baseurl }}/img/line-eee.png');
  background-repeat: repeat-y;
  background-position: center; 
}

table#about tr td.number div {
  height: 35px; 
  width: 35px;
  border-radius: 35px;
  background-color: #eee;
  text-align: center;
  line-height: 35px;
}

/* for map page only */
.extramarge {
padding-left: 0px !important;
padding-right: 0px !important;
margin-left: 0px !important;
margin-right: 0px !important;
margin-bottom: 20px !important;
}

.menu { 
z-index: 9999 !important;
}