/* http://coolors.co/313715-d16014-939f5c-bbce8a-e2f9b8 */
a {
  color: #d16014; }

a:hover {
  color: rgba(209, 96, 20, 0.8); }

a:active, a:focus {
  outline-style: none;
  -moz-outline-style: none; }

.mainNav {
  margin-bottom: 1.5rem; }

nav {
  margin-top: 1.5rem;
  font-weight: 500; }

.row.no-bottom-margin {
  margin-bottom: 1rem; }

#logo-wide {
  margin-top: 11px; }

header a,
header a:visited {
  text-decoration: none;
  color: #2da09a; }

header a:hover {
  text-decoration: underline;
  color: #2da09a; }

header ul {
  margin: 2px 0 0;
  padding: 0;
  font-size: 1.5rem;
  list-style-type: none;
  float: right; }

header ul li {
  display: inline;
  margin: 0 7px; }

#github {
  background-color: #2da09a;
  color: white;
  border-radius: 5px;
  padding: 7px 14px; }

#github:hover {
  text-decoration: none;
  opacity: 0.8; }

footer {
  padding-top: 40px;
  background-color: #2da09a;
  color: white;
  font-weight: 200;
  font-size: 18px; }

footer a,
footer a:hover {
  color: white; }

footer ul {
  list-style-image: url("{{ site.baseurl }}/images/bullet.png"); }

.octocat {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 16px;
  height: 16px;
  background-image: url("{{ site.baseurl }}/images/octocat.png");
  margin-right: 10px; }

ul.apps {
  list-style-type: none; }

ul.apps li {
  height: 231px;
  background-position: center center;
  position: relative; }

ul.apps li a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px;
  background-color: white;
  color: black;
  font-size: 1rem; }

/* ANIMATION */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn; }
