---
---

$color1: {{ site.data.style.color1 }};
$color2: {{ site.data.style.color2 }};
$color3: {{ site.data.style.color3 }};
$color4: {{ site.data.style.color4 }};
$color5: {{ site.data.style.color5 }};

a {
  color: $color2;
}

a:hover {
  color: $color2;
}

a:active, a:focus {
  outline-style: none;
  -moz-outline-style:none;
}

header {
  border-top-style: solid;
  border-top-width: 7px;
  border-top-color: $color2;
}

nav {
  margin-top: 7px;
  font-weight: 500;
}

.row.no-bottom-margin {
  margin-bottom: 1rem;
}

#logo-wide {
  margin-top: 2px;
}

header a,
header a:visited {
  text-decoration: none;
  color: $color3;
}

header a:hover {
  text-decoration: underline;
  color: $color3;
}

header ul {
  margin: 2px 0 0;
  padding: 0;
  font-size: 27px;
  list-style-type: none;
  float: right;
}

header ul li {
  display: inline;
  margin: 0 7px;
}

#github {
  background-color: $color3;
  color: white;
  border-radius: 5px;
  padding: 7px 14px;
}

#github:hover {
  text-decoration: none;
  opacity: 0.8;
}

footer {
  padding-top: 17px;
  background-color: $color1;
  color: white;
  font-weight: 200;
  font-size: 18px;
}

footer a,
footer a:hover {
  color: white;
}

footer ul {
  list-style-image: url('{{ site.baseurl }}/images/bullet.png');
}

.octocat {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 16px;
  height: 16px;
  background-image: url('{{ site.baseurl }}/images/octocat.png');
  margin-right: 10px;
}

ul.apps  {
  list-style-type: none;
}

ul.apps li {
  height: 231px;
  background-position: center center;
  position: relative;
}

ul.apps li a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px;
  background-color: white;
  color: black;
  font-size: 1rem;
}

#layers {
  list-style-type: none;
}

#layers h4 {
  text-align: center;
}

#layers h4 pre {
  display: inline;
}

#layers h4:before,
#layers h4:after {
  content: url('{{ site.baseurl }}/images/bullet.png');
}

#layers table {
  width: 100%;
}

#layers table tr td:first-child {
  width: 150px;
}

#layers td {
  border-bottom: none;
}