---
---

/* http://coolors.co/313715-d16014-939f5c-bbce8a-e2f9b8 */

$color1: {{ site.data.style.color1 }};
$color2: {{ site.data.style.color2 }};
$color3: {{ site.data.style.color3 }};
$color4: {{ site.data.style.color4 }};
$color5: {{ site.data.style.color5 }};

$font-color: #3f4444;
$background-color: #f9f9f9;

$brand-color: #2da09a;
$link-color: #d16014;
$tiny-margin: 0.5rem;
$standard-margin: 1rem;
$big-margin: 1.5rem;
$bigger-margin: 2rem;

body {
  color: $font-color;
  background-color: $background-color;
}

a {
  color: $link-color;
}

a:hover {
  color: rgba($link-color, .8);
}

a:active, a:focus {
  outline-style: none;
  -moz-outline-style:none;
}

.mainNav{
	margin-bottom: $big-margin;
}
nav {
  margin-top: $big-margin;
  font-weight: 500;
}

.row.no-bottom-margin {
  margin-bottom: $standard-margin;
}

#logo-wide {
  margin-top: 11px;
}

header a,
header a:visited {
  text-decoration: none;
  color: $brand-color;
}

header a:hover {
  text-decoration: underline;
  color: $brand-color;
}

header ul {
  margin: 2px 0 0;
  padding: 0;
  font-size: 1.5rem;
  list-style-type: none;
  float: right;
}

header ul li {
  display: inline;
  margin: 0 7px;
}

#github {
  background-color: $brand-color;
  color: white;
  border-radius: 5px;
  padding: 7px 14px;
}

#github:hover {
  text-decoration: none;
  opacity: 0.8;
}

footer {
  padding-top: 40px;
  background-color: $brand-color;
  color: white;
  font-weight: 200;
  font-size: 18px;
}

footer a,
footer a:hover {
  color: white;
}

footer ul {
  list-style-image: url('{{ site.baseurl }}/images/bullet.png');
}

.octocat {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 16px;
  height: 16px;
  background-image: url('{{ site.baseurl }}/images/octocat.png');
  margin-right: 10px;
}

ul.apps  {
  list-style-type: none;
}

ul.apps li {
  height: 231px;
  background-position: center center;
  position: relative;
}

ul.apps li a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px;
  background-color: $background-color;
  color: $font-color;
  text-decoration: none;
}

#layers {
  list-style-type: none;
}

#layers h4 {
  margin-top: 7rem;
  text-align: center;
  border-bottom: 3px solid $brand-color;
}

#layers h4 pre {
  display: inline;
}

//#layers h4:before,
//#layers h4:after {
//  content: url('{{ site.baseurl }}/images/bullet.png');
//}

#layers table {
  width: 100%;
}

#layers table tr td:first-child {
  width: 150px;
}

#layers td {
  border-bottom: none;
}

/* ANIMATION */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 1s;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}