<header>
  <nav class="mainNav">
    <div class="container">
      {% if page.layout == "map" %}
      <div class="row no-bottom-margin">
      {% else %}
      <div class="row">
      {% endif %}
        <div class="four columns">
          {% if page.layout == "map" %}
          <a href="{{ site.baseurl }}/"><img id="logo-wide" src="{{ site.baseurl }}/images/logo-wide-new.svg"></a>
          {% else %}
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo_new.svg"></a>
          {% endif %}
        </div>
        <div class="eight columns">
          <ul>
            {% for item in site.data.menu %}
            <li>
              {% assign url = page.url | replace_first:'/','' | split:"/" | first %}
              {% if item.name == url %}
              <a class="menu-item current" href="{{ site.baseurl }}/{{ item.name }}">
              {% else %}
              <a class="menu-item" href="{{ site.baseurl }}/{{ item.name }}">
              {% endif %}
                {{item.title}}</a>
            </li>
            {% endfor %}
            <li><a id="github" href="https://github.com/waagsociety/citysdk-ld">
              <span class="octocat"></span>GitHub
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>