<header>
  <nav class="mainNav">
    <div class="container">
      {% if page.layout == "map" %}
      <div class="row no-bottom-margin">
      {% else %}
      <div class="row">
      {% endif %}
        <div class="four columns">
          {% if page.layout == "map" %}
          <a href="{{ site.baseurl }}/"><img id="logo-wide" src="{{ site.baseurl }}/images/logo-wide-new.svg"></a>
          {% else %}
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo_new.svg"></a>
          {% endif %}
        </div>
        <div class="eight columns">
          <ul>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/map">Map</a></li>
            <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
            <li><a href="{{ site.baseurl }}/apps">Apps</a></li>
            <li><a href="{{ site.baseurl }}/data">Data</a></li>
            <li><a id="github" href="https://github.com/waagsociety/citysdk-ld">
              <span class="octocat"></span>GitHub
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>