<div class="col_12" >
	<ul class="menu extramarge">
  {% for item in site.data.menu %}
    {% capture item_url %}{{ item.url | append: "/index.html" }}{% endcapture %}
    <!-- {% if item.menu.size > 0  %}
      {% for subitem in item.menu %}

      {% endfor %}
    {% endif %} -->

    {% if item.menu.size > 0  %}
      <li>
      <a href="#">{{ item.title }}</a>
      <ul>
      {% for subitem in item.menu %}
        <li><a href="{{ site.baseurl }}{{ subitem.url }}">{{ subitem.title }}</a></li>
      {% endfor %}
      </ul>
    </li>
    {% else %}
    {% capture url %}{% if item.url.size %}{{ item.url }}{% else %}{{ '/' }}{% endif %}{% endcapture %}
    <li {% if page.url == item_url %} class='current' {% endif %}>
      <a href="{{ site.baseurl }}{{ url }}">{{ item.title }}</a>
    </li>
    {% endif %}
    </li>
  {% endfor %}
</div>