<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <section class="mainContent">
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
  </section>
  {% include footer.html %}
	
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/viewportchecker.min.js"></script>
	<script>
  jQuery(document).ready(function() {
    jQuery('.mainContent *').addClass("transparant").viewportChecker({
      classToAdd: 'visible animated fadeIn'
     });
  });
	
	</script>
	
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//194.145.201.185/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//194.145.201.185/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->

</body>
</html>
