<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <section>
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
  </section>
  {% include footer.html %}

  {% if false %}
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/viewportchecker.min.js"></script>
	<script>
  jQuery(document).ready(function() {
    jQuery('.container p, .container h2, .container h3, .container h4, .container ul, .container li').addClass("transparant").viewportChecker({
      classToAdd: 'visible animated fadeIn'
     });
  });
	</script>
  {% endif %}
</body>
</html>
