<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <script src="{{ site.baseurl }}/js/highlight.min.js"></script>
  <script src="{{ site.baseurl }}/js/leaflet.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/map.css">
  <script src="{{ site.baseurl }}/js/spin.min.js"></script>
</head>
<body>
  {% include header.html %}
  <section>
    {{ content }}
  </section>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//194.145.201.185/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//194.145.201.185/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->


 </body>
</html>
